* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: Figtree;
  font-size: clamp(0.7rem, 2vw, 1rem);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100vh;
}

.blog-card {
  background-color: hsl(0, 0%, 100%);
  width: clamp(250px, 80vw, 350px);
  padding: clamp(0.7rem, 2vw, 1rem);
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 10px;
  box-shadow: 5px 5px hsl(0, 0%, 7%);
}

.blog-card__image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.blog-card__category {
  background-color: hsl(47, 88%, 63%);
  display: inline-block;
  padding: 3px 5px;
  margin: 0.8rem 0px 0.8rem 0px;
  font-weight: 800;
  border-radius: 5px;
}

.blog-card__publish-date {
  margin-bottom: 0.8rem;
  font-weight: 600;
  color: hsl(0, 0%, 7%);
}

.blog-card__title {
  font-weight: 800;
  margin-bottom: 0.8rem;
  font-size: clamp(1rem, 4vw, 1.5rem)
}

.blog-card__title:hover {
  color:hsl(47, 88%, 63%);
  cursor: pointer;
}

.blog-card__description {
  color: hsl(0, 0%, 42%);
  margin-bottom: 1rem;
}

.blog-card__author{
  margin-bottom: 0.8rem;
}

.blog-card__author-image {
  height: 20px;
  float: left;
  margin-right: 0.5rem;
}

.blog-card__author-name {
  font-weight: 800;
}


